html, body {
  font-family: Roboto, sans-serif;
  height: 100vh;
  background-color: #f5f5f5;
}

.app-title {
  text-align: center;
  font-size: 6em;
  margin-top: 0.15em;
  margin-bottom: 0.05em;
  font-weight: 200;
  color: #ead7d7;
}

.app-container {
  background-color: #ffffff;
  margin: auto;
  padding-bottom: 15px;
  width: 550px;
  font-size: 1.5em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.new-todo {
  font-size: 1em;
  padding: 0.5em;
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
  border: none;
  width: 100%;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
.new-todo::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #e6e6e6;
  font-style: italic;
}

.todos {
  list-style: none;
  padding: 0;
}

.todo {
  display: flex;
  align-items: center;
}

.todo__completed-checkbox {
  height: 2em;
  width: 2em;
  line-height: 2em;
  margin-left: 1em;
  margin-right: 2em;
}

.todos-completed-count {
  margin-left: 1em;
  font-size: 0.5em;
}

.todo__action {
  width: 100%;
  font-weight: 300;
  color: #4d4d4d;
}

.remove-todo {
  margin-right: 1em;
  font-size: 0.7em;
  font-family: Roboto, sans-serif;
  border: none;
  background: none;
}

.app-bottom-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: solid 1px #eaeaea;
  padding-top: 0.5em;
}

.todos-filter {
  display: flex;
}

.filter-btn {
  margin: 0 10px;
  background: none;
  border: none;
}

.filter-btn--active {
  border: solid 1px gray;
  border-radius: 3px;
}

.clear-completed {
  font-size: 0.5em;
  background: none;
  border: none;
  margin-right: 10px;
}